@model int

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["AccountPageTitle"];
}

<script>
    let userId = @Model;
    let wrongYouTubeUrl = "@Localizer["InvalidChannelUrl"]";
</script>

<div id="user">
    <div v-cloak class="container">
        <div class="background-box">
            <h1>{{ user.userName }}</h1>
        </div>
        <div>
            <b>@Localizer["EmailTitle"]:</b>
            <span>{{ user.email }}</span>
        </div>
        <template v-if="team.exists">
            <div>
                <b>@Localizer["TeamTitle"]:</b>
                <a v-bind:href="'/team?id=' + team.id">{{ team.name }}</a>
            </div>
            <div>
                <b>@Localizer["YouTubeChannelTitle"]:</b>
                <a v-if="teamMember.youTubeId !== null"
                   v-bind:href="'https://www.youtube.com/channel/' + teamMember.youTubeId"
                   title="@Localizer["GoToChannelAction"]">
                    @Localizer["ChannelBinded"]
                </a>
                <span v-else>
                    @Localizer["ChannelNotBinded"]
                </span>
                <template v-if="editYT.canEdit">
                    <button v-on:click="$refs.changeYouTubeIdModal.openModal" class="icon edit">
                        <i class="fas fa-user-edit"></i>
                    </button>
                    <button v-on:click="discardYouTubeId" class="icon remove">
                        <i class="fas fa-unlink"></i>
                    </button>
                </template>
            </div>
        </template>
        <template v-else>
            <div>
                @Localizer["NoTeam"]
            </div>
        </template>
    </div>

    <modal v-cloak ref="changeYouTubeIdModal" header="@Localizer["SetYouTubeTitle"]"
           closeText="@Localizer["CancelAction"]"
           okText="@Localizer["ChangeAction"]" v-on:ok="changeYouTubeId">
        <div style="color: red">
            {{ editYT.error }}
        </div>
        <div>
            <div>
                <label>@Localizer["EnterChannelText"]</label>
                <input type="text" v-model="editYT.youTubeUrl" />
            </div>
        </div>

    </modal>
</div>

@section Scripts {
    <script src="~/js/user.js"></script>
}