@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedView> SharedLocalizer

@{
    ViewData["Title"] = Localizer["PageTitle"];
}

<script>
    const wrongBackupFile = "@Localizer["WrongBackupFile"]";
    const backupNotFound = "@Localizer["BackupNotFound"]";
    const unableToMakeBackup = "@Localizer["UnableMakeBackup"]";
</script>

<div class="container">
    <div class="row">
        <div id="backups" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <h1 class="big-header">@Localizer["BackupDbTitle"]</h1>
            <div>
                <label>@Localizer["BackupFileNameText"]</label>
                <input type="text" v-model="file" />
            </div>
            <div v-if="successMessageSeen">
                @Localizer["BackupSuccess"]
            </div>
            <div v-if="errorMessage" class="text-danger">
                {{ errorMessage }}
            </div>
            <button class="btn btn-primary" v-on:click="make">@Localizer["BackupMakeAction"]</button>
            <button class="btn btn-primary" v-on:click="download">@Localizer["BackupDownloadAction"]</button>
        </div>
        <div id="certExpiration" class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mt-3">
            <div v-if="expiration">
                <h1 class="big-header">@Localizer["CertTitle"]</h1>
                @Localizer["CertExpires"]
                <b v-bind:class="{warning: (expiration - (new Date()) < 1000 * 60 * 60 * 24 * 365)}">
                    {{ formatDateTime(expiration) }}
                </b>
            </div>
        </div>
    </div>
</div>

<div id="configTable" class="container">
    <h1 class="big-header">@Localizer["SysConfig"]</h1>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">@Localizer["ConfigKey"]</th>
                <th scope="col">@Localizer["ConfigVal"]</th>
                <th scope="col">@Localizer["ConfigCurVal"]</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(c, i) in configs" v-bind:class="{editedRow: c.value !== c.prevValue}">
                <th>{{ i + 1 }}</th>
                <td>{{ c.key }}</td>
                <td><input type="text" v-model="c.value" /></td>
                <td>{{ c.prevValue }}</td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-primary" v-on:click="saveChanges">@Localizer["ConfigSave"]</button>
</div>

@section Scripts {
    <script src="~/js/backups.js"></script>
    <script src="~/js/certExpiration.js"></script>
    <script src="~/js/configTable.js"></script>
}