@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedView> SharedLocalizer

@{
    ViewData["Title"] = Localizer["PageTitle"];
}


<div id="usersTable" class="container">
    <div v-cloak>
        <h1 class="big-header">@Localizer["UsersTitle"]</h1>
        <div>
            <label for="userNameText">@Localizer["SearchByNameText"]</label>
            <input id="userNameText" type="text" v-model="userName" />
            <button v-on:click="updateTablePage(pageIndex)"
                    class="btn btn-primary">
                @Localizer["SearchAction"]
            </button>
        </div>
        <br />
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">@Localizer["Role"]</th>
                    <th scope="col">@Localizer["Name"]</th>
                    <th scope="col">@Localizer["Email"]</th>
                    <th scope="col">@Localizer["Team"]</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="u in users">
                    <th>{{ u.userRole}}</th>
                    <td><a v-bind:href="'/User?id=' + u.id">{{ u.userName }}</a></td>
                    <td>{{ u.email }}</td>
                    <td><a v-bind:href="'/Team?id=' + u.teamId">{{ u.teamName }}</a></td>
                </tr>
            </tbody>
        </table>

        <div class="row">
            <div class="col col-xs-4">
                <button v-on:click="prevPage" class="btn btn-primary">@Localizer["PrevPage"]</button>
            </div>
            <div class="col col-xs-4 text-center">
                <span>{{ pagesCount == 0 ? 0 : pageIndex + 1 }} / {{ pagesCount }}</span>
            </div>
            <div class="col col-xs-3">
                <button v-on:click="nextPage" class="btn btn-primary btn-right">@Localizer["NextPage"]</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/usersTable.js"></script>
}