
@inject IHtmlLocalizer<SharedView> SharedLocalizer

@{ 
    string lang = Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName;
    string textDir = new[] { "ar", "dv", "fa", "ps" }.Contains(lang) ? "rtl" : "ltr";
}

<!DOCTYPE html>
<html lang="@lang" dir="@textDir">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] &mdash; ESport Raise</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/fa/fa.min.css" />

    <environment include="Development">
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    </environment>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js"
            integrity="sha512-DZqqY3PiOvTP9HkjIWgjO6ouCbq+dxqWoJZ/Q+zPYNHmlnI2dQnbJ5bxAHpAMw+LXRm4D72EIRXzvcHQtE8/VQ=="
            crossorigin="anonymous"></script>
</head>
<body>
    <script>
        let changeData = "Make sure there is no errors in fields!";
        let invalidLoginOrPassword = "Invalid login and/or password!";
        let userIsRegisterd = "User is already registered!";
    </script>

    <div id="navSection" v-cloak>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" asp-action="Index" asp-controller="Home">ESport Raise</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <template v-if="!isAuthorized">
                        <li>
                            <a class="nav-link" href="#" v-on:click.stop="openLoginModal">@SharedLocalizer["LoginAction"]</a>
                        </li>
                        <li>
                            <a class="nav-link" href="#" v-on:click.prevent="openRegisterModal">@SharedLocalizer["RegisterAction"]</a>
                        </li>
                    </template>
                    <template v-else>
                        <template v-if="isAdmin">
                            <li>
                                <a class="nav-link" asp-controller="Admin" asp-action="Index">@SharedLocalizer["AdminConfig"]</a>
                            </li>
                            <li>
                                <a class="nav-link" asp-controller="Admin" asp-action="Users">@SharedLocalizer["AdminUsers"]</a>
                            </li>
                        </template>
                        <li>
                            <a class="nav-link" asp-controller="Team" asp-action="Index">@SharedLocalizer["UserTeam"]</a>
                        </li>
                        <li>
                            <a class="nav-link" asp-controller="User" asp-action="Index">{{ user.userName }}</a>
                        </li>
                        <li>
                            <a class="nav-link" href="#" v-on:click.prevent="logout">@SharedLocalizer["Logout"]</a>
                        </li>
                    </template>
                </ul>
                <div class="form-inline my-2 my-lg-0">
                    <partial name="_LanguageSelector" />
                </div>
            </div>
        </nav>

        <!-- Login modal -->
        <modal ref="loginModal" header="@SharedLocalizer["LoginModalTitle"]"
               closeText="@SharedLocalizer["CloseAction"]"
               okText="@SharedLocalizer["LoginAction"]" v-on:ok="login">
            <form id="loginForm">
                <div v-if="loginData.error">
                    {{ loginData.error }}
                </div>
                <div>
                    <div v-if="loginData.user && !isLoginUserValid">
                        Invalid user name or email!
                    </div>
                    <label for="loginEmail">@SharedLocalizer["EmailOrUserName"]</label>
                    <input type="text" id="loginEmail" v-model="loginData.user" />
                </div>
                <div>
                    <div v-if="loginData.password && !isLoginPasswordValid">
                        Invalid password!
                    </div>
                    <label for="loginPassword">@SharedLocalizer["Password"]</label>
                    <input type="password" id="loginPassword" v-model="loginData.password" />
                </div>
            </form>
        </modal>

        <!-- Register modal -->
        <modal ref="registerModal" header="@SharedLocalizer["LoginModalTitle"]"
               closeText="@SharedLocalizer["CloseAction"]"
               okText="@SharedLocalizer["RegisterAction"]" v-on:ok='register'>
            <form id="registerForm">
                <div v-if="registerData.error">
                    {{ registerData.error }}
                </div>
                <div>
                    <div v-if="registerData.email && !isRegisterEmailValid">
                        Invalid email!
                    </div>
                    <label for="registerEmail">@SharedLocalizer["Email"]</label>
                    <input type="text" id="registerEmail" v-model="registerData.email" />
                </div>
                <div>
                    <div v-if="registerData.userName && !isRegisterUserNameValid">
                        Invalid user name!
                    </div>
                    <label for="registerUserName">@SharedLocalizer["UserName"]</label>
                    <input type="text" id="registerUserName" v-model="registerData.userName" />
                </div>
                <div>
                    <div v-if="registerData.password && !isRegisterPasswordValid">
                        Password must contain uppercase, lowercase, digits, a special symbol and be 6-20 characters.
                    </div>
                    <label for="registerPassword">@SharedLocalizer["Password"]</label>
                    <input type="password" id="registerPassword" v-model="registerData.password" />
                </div>
            </form>
        </modal>
    </div>

    <partial name="_CookieConsentPartial" />

    @RenderBody()
    <hr />
    <footer>
        <p>&copy; 2020 - ESportRaise</p>
    </footer>

    <script src="~/js/components/modal.js"></script>
    <script src="~/js/components/langSelector.js"></script>
    <script src="~/js/site.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
