
@inject IHtmlLocalizer<SharedView> SharedLocalizer

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ESportRaise.FrontEnd.WEB</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <environment include="Development">
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    </environment>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js"
            integrity="sha512-DZqqY3PiOvTP9HkjIWgjO6ouCbq+dxqWoJZ/Q+zPYNHmlnI2dQnbJ5bxAHpAMw+LXRm4D72EIRXzvcHQtE8/VQ=="
            crossorigin="anonymous"></script>
</head>
<body>
    <div id="navSection">



        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" asp-action="Index" asp-controller="Home">ESport Raise</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Disabled</a>
                    </li>
                    <template v-if="!isAuthorized">
                        <li>
                            <a href="#" data-toggle="modal" data-target="#loginModal">@SharedLocalizer["LoginAction"]</a>
                        </li>
                        <li>
                            <a href="#" data-toggle="modal" data-target="#registerModal">@SharedLocalizer["RegisterAction"]</a>
                        </li>
                    </template>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>


        <!-- Login window -->
        <div v-if="whatIsOpened === 'login'">

            <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">@SharedLocalizer["LoginModalTitle"]</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form id="loginForm">
                                <div>
                                    <label for="loginEmail">@SharedLocalizer["EmailOrUserName"]</label>
                                    <input type="text" id="loginEmail" v-model="loginData.user" />
                                </div>
                                <div>
                                    <input type="submit" class="btn btn-primary" value="OK" />
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">@SharedLocalizer["CloseAction"]</button>
                            <button type="button" class="btn btn-primary">@SharedLocalizer["LoginAction"]</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- Register window -->
        <div v-else-if="whatIsOpened === 'register'">

        </div>
    </div>

    <partial name="_CookieConsentPartial" />

    @RenderBody()
    <hr />
    <footer>
        <p>&copy; 2020 - ESportRaise</p>
    </footer>

    <script src="~/js/site.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
