@model TrainingViewModel

@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedView> SharedLocalizer

@{
    ViewData["Title"] = Localizer["PageTitle"];
}

<script>
    let trainingId = @Model.TrainingId;
    let criticalMomentIndex = @Model.CriticalMomentId;
</script>

<div id="training" class="container">
    <template v-cloak>
        <div v-if="beginTime" class="background-box">
            <h1 class="text-center big-header">@Localizer["TrainingTitle"] {{ formatDate(beginTime) }}</h1>
        </div>

        <div v-if="!notOver" class="row">
            <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
                <h1>@Localizer["CriticalMomentsTitle"]</h1>
                <div class="list-group">
                    <button v-for="m in criticalMoments"
                            class="list-group-item list-group-item-action"
                            v-bind:class="{active: currentCriticalMoment === m}"
                            v-on:click="currentCriticalMoment = m">
                        {{ formatTime(new Date(m.begin)) }} -
                        {{ formatTime(new Date(m.end)) }}
                    </button>
                </div>
            </div>
            <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
                <div v-if="currentVideo">
                    <h1>@Localizer["VideoRecordTitle"]</h1>
                    <div class="videoContainer">
                        <iframe v-if="currentVideo" name="mainVideo"
                                v-bind:src="restartVideoUrl" frameborder="0"
                                allowfullscreen></iframe>
                    </div>

                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 mt-3">
                            <a v-bind:href="restartVideoUrl"
                               target="mainVideo">
                                <div class="btn btn-primary">
                                    <i class="fas fa-play"></i>
                                    @Localizer["RestartMomentAction"]
                                    {{ secondsToHHMMSS(momentVideoInterval.begin) }} -
                                    {{ secondsToHHMMSS(momentVideoInterval.end) }}
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6 mt-3">
                            <button class="btn btn-secondary share"
                                    v-on:click="$refs.shareModal.openModal">
                                <i class="fas fa-share-alt"></i> @Localizer["ShareAction"]
                            </button>
                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 mt-2 inline-input">
                            <label>@Localizer["RecordOfText"] </label>
                            <select v-model="currentVideoIndex" class="browser-default custom-select">
                                <option v-for="(video, i) in videosForMoment"
                                        v-bind:value="i">
                                    {{ getTeamMemberNameById(video.teamMemberId) }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div>
                        <h1 class="big-header">@Localizer["PhysStateTitle"]</h1>
                        <label>@Localizer["SelectMemberText"]</label>
                        <state-displayer v-bind:training-id="trainingId"
                                         v-bind:users-list="teamMembers">
                        </state-displayer>
                    </div>
                </div>
                <h1 v-else class="center not-important">@Localizer["NoVideoText"]</h1>
            </div>

            <modal ref="shareModal" header="@Localizer["ShareModalTitle"]"
                   closeText="@SharedLocalizer["CloseAction"]"
                   okText="@Localizer["CopyAction"]" v-on:ok='copyShareUrlToClipboard'>
                <div>
                    <label for="momentUrl">@Localizer["LinkText"]</label>
                    <input id="momentUrl" type="text" readonly
                           v-bind:value="criticalMomentShareLink" />
                </div>
            </modal>
        </div>
        <div v-if="notOver">
            <h2>@Localizer["TrainingNotOverTitle"]</h2>
            <p>
                @Localizer["TrainingNotOverInfo"]
                <b>
                    @Localizer["TrainingStopWarn"]
                </b>
            </p>
            <div>
                <button class="btn btn-danger" v-on:click="stopTraining">@Localizer["StopTrainingAction"]</button>
            </div>
        </div>
    </template>
</div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    @{
        string lang = Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName;
    }
    @if (lang != "en")
    {
        <script src="~/js/chartLocales/@(lang).js"></script>
    }
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="~/js/components/stateDisplayer.js"></script>
    <script src="~/js/training.js"></script>
}