
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedView> SharedLocalizer

@{
    ViewData["Title"] = "Home Page";
}


<div class="gamepad-logo">
    <div class="back">
        <div class="back-triangle"></div>
        <div class="back-rect"></div>
        <img src="~/images/gamepad.png" />
    </div>
    <div class="logo-text">ESport Raise</div>
</div>


<div class="container info">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-right">
            <h1>@Localizer["AboutTitle"]</h1>
            @Localizer["AboutText"]
        </div>
        <div class="col-lg-6 col-md-6 d-none d-md-block nopadding">
            <div class="background-box"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 d-none d-md-block nopadding">
            <div class="background-box"></div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <h1>@Localizer["FeaturesTitle"]</h1>
            <ul>
                <li>@Localizer["Feature1"]</li>
                <li>@Localizer["Feature2"]</li>
                <li>@Localizer["Feature3"]</li>
                <li>@Localizer["Feature4"]</li>
                <li>@Localizer["Feature5"]</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-right">
            <h1>@Localizer["FreeTitle"]</h1>
            <b>@Localizer["FreeImp"]</b>
            @Localizer["FreeText"]
        </div>
        <div class="col-lg-6 col-md-6 d-none d-md-block nopadding">
            <div class="background-box"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 d-none d-md-block nopadding">
            <div class="background-box"></div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <h1>@Localizer["StartTtile"]</h1>
            <ul>
                <li>@Localizer["StartText1"]</li>
                <li>@Localizer["StartText2"]</li>
                <li>@Localizer["StartText3"]</li>
                <li>@Localizer["StartText4"]</li>
            </ul>
        </div>
    </div>
</div>

<script>
    window.addEventListener("scroll", function () {
        let logo = document.querySelector(".gamepad-logo img");

        let scrollValue = window.scrollY;
        let viewHeight = document.documentElement.clientHeight;
        let elementTop = 0;
        let elementHeight = logo.offsetHeight;

        let elementPercentScrolled = Math.min(1, scrollValue / viewHeight);

        logo.style = "top: " + elementPercentScrolled * elementHeight + "px";
    });
</script>
